footer {
    height: 60px;
    width: 100%;
    position: fixed;
    bottom: 0;
    color: #000000;
    border-top: 1px solid #DDDDDD;
    }
footer p {
    text-align: center;
    vertical-align: center;
    }

